<%- include('partials/header'); -%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('../public/assets/img/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Node Blog</h1>
                        <span class="subheading">A Blog Developed With Nodejs</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <% posts.forEach(function(post){%>
                    
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="post/get/<%=(post.postId)%>">
                        <h2 class="post-title"><%=(post.title)%></h2>
                        <h3 class="post-subtitle"><%=(post.subTitle)%></h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!"><%=(post.userName)%> <%=(post.userSurname)%></a>
                        on <%=(post.date)%>
                    </p>
                </div>
                <hr class="my-4" />
                <!-- Divider-->
                <%})%>
               
            </div>
        </div>
    </div>

    <%- include('partials/footer'); -%>